:root {
    --primary-color: #242320;
    --secondary-color: #79cc69;
    --tertiary-color: #33ecff;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

section {
  scroll-margin-top: 15rem;
}


  /*style the header */
  header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    position: sticky;
    position: -webkit-sticky;
    top: 0;    
    z-index: 9999;
    display: inline-block;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    
  } 


  
  
  header h1 {
      font-weight: bold;
      margin: 10px 0 10px 0;
      font-size: 38px;
      color: var(--primary-color);
           
     
  }

  header .adjectives {
      font-style: italic;
      font-weight: lighter;
      font-size: 30px;
      

  }

  header p {
      margin: 5px 0;
  }
 
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 20px 0 0 0;
  }
  header nav ul li a {
    padding: 15px 15px;
    font-weight: lighter;
    font-size: 28px;
    text-shadow: 0 0 10px rgba(56, 11, 11, 0.5);
  }

  header a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }


  /*Main content Css */

  .section-title {
    font-size: 48px;
    border-top: 3px solid;
    border-bottom: 3px solid;
    color: var(--primary-color);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 35px auto 35px auto;
    width: 50%;
  }

  /* about me styling */
  .intro {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
  }
  .intro p {
    flex:2 60%;
    margin: 10px;
  }
  
  /*start full stack adventure styling */
  .program-projects {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }

  

  .project {
    text-align: center;
    margin: 20px;
    flex: 1;
    color: var(--primary-color);
    height: 400px;
    background-color: var(--secondary-color);

  }

  .first
  {
    height: 500px;
  }

  
  .project-name {
    padding: 10px;
    line-height: 1.7;
    font-size: 35px;
    
  }

  .project-name:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }
    
  .project-image {
    height: 300px;
    margin: 0;
    align-items: center;
   
  }


  /* RUNBUDDY */
  .runbuddy {
    background-image:url("../images/hero-bg.jpg");
    background-size: 100%;
    background-position: 80%;
    color: #ffffff;
    
  }

 

/*HORISEON */
.horiseon {
    background-image:url("../images/digital-marketing-meeting.jpg");
    background-size: 100%;
    background-position: 50%;
    color: white;
}



/*FAN PAGE */
.fan-page {
    background-image:url("../images/ltj.jfif");
    background-size: 100%;
    background-position: 100%;
    color: white;
}



/*robot gladiators*/

.robot-gladiators {
  background-image:url("../images/robot-gladiator.jfif") ;
    background-size: 200%;
    background-position: right 40%;
    color: var(--secondary-color);
}


.project-alpha {
    background-image:url("../images/alpha.png") ;
    background-size: 80%;
    background-position: 80%;
    color: white;
}


.project-beta {
    background-image:url("../images/beta.png") ;
    background-size: 70%;
    background-position: 50%;
    color: white;
}


/* Physics Teacher */
.other-projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px;
}

.other-projects > * {
  flex: 1;
  margin: 15px;
}
.other-projects iframe{
  height: 400px;
}

.other-projects p {
  text-align: center;
  color: var(--primary-color);
  font-size: 25px;
}












